<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>16</string>
	<key>CFBundleShortVersionString</key>
	<string>8.4.2</string>
	<key>CFBundleVersion</key>
	<string>842.21.65</string>
	<key>ProjectName</key>
	<string>AirPortDriverBrcm4360</string>
	<key>SourceVersion</key>
	<string>842021065000000</string>
</dict>
</plist>
